@using CsharpSite.Controllers;
@{
    ViewBag.Title = "Login";
}

<spam style="color: green">@ViewBag.SuccessMessage</spam>

<h2>Login</h2>
<form action="/Session/Login" method="post">
    <input type="text" name="usr" required/>
    <input type="password" name="pw" required/>
    <spam style="color: red">@ViewBag.ErrorMessage</spam>
    <input type="submit" value="Log in" />
</form>
