
@{
    ViewBag.Title = "Index";
}

<h1>CodeCap</h1>
<h3>Welcome to CodeCap</h3>

@Html.Partial( "../Shared/NavBar" )

<a href="/Session/Register">Register</a><br />
<a href="/Session/Login">Login</a>

<h3>List of current users</h3>
<table class="table table-striped" style="width: 500px;" >
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    @foreach (var user in ViewBag.users) {
        <tr>
            <td>@user.Id</td>
            <td>@user.Username</td>
            <td>@user.Email</td>
        </tr>
    } 
</table>
