<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Sign Up</title>
    <link rel="icon" href="../images/logo.png" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="~/Content/signup/css/toolkit.css" rel="stylesheet">
    <link href="~/Content/signup/css/application.css" rel="stylesheet">
    <style>
        /* note: this is a hack for ios iframe for bootstrap themes shopify page */
        /* this chunk of css is not part of the toolkit :) */
        body {
            width: 1px;
            min-width: 100%;
            *width: 100%;
        }

        .amb {
            margin-bottom: 35px !important;
        }

        .disabled {
            opacity: 0.65;
            cursor: not-allowed;
        }
    </style>
    <script src="~/Content/js/jquery.min.js"></script>
    <link href="~/Content/signup/css/test.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
    <script src="~/Content/signup/js/index.js"></script>
    <script src="~/Content/signup/js/chart.js"></script>
    <script src="~/Content/signup/js/toolkit.js"></script>
</body>
</html>
