</div>
<!-- ========================================= END MIDDLE SECTION ================================================ -->
<div class="gn">
    @Html.Partial( "~/Views/Shared/Notif.cshtml" )
    @Html.Partial( "~/Views/Shared/Sponsored.cshtml" )
    @Html.Partial( "~/Views/Shared/Footer.cshtml" )
</div>
        </div>
    </div>
</div>
<div class="style-light footer-scroll-top" id="scrollTop"><a href="#" class="scroll-top"><i class="fa fa-angle-up fa-stack fa-rounded btn-default btn-hover-nobg"></i></a></div>
<div class="x-searchform-overlay">
    <div class="x-searchform-overlay-inner">
        <div class="x-container max width">
            <form method="get" id="searchform" class="form-search center-text" action="">
                <input autocorrect="off" autocomplete="off" type="text" id="s" class="search-query cfc-h-tx center-text tt-upper" name="s" placeholder="Search">
            </form>
        </div>
    </div>
</div>
