<!-- ========================================= NOTIF ================================================== -->
<div class="alert pv alert-dismissible ss" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <a class="pr" href="profile/index.html">Welcome to CodeShare</a> You can customize your profile the way you want. Follow <a href="">xSash_</a> on twitter
</div>
<!-- ========================================= END NOTIF ================================================== -->


