<!-- ========================================= SPONSORED ================================================== -->
<div class="qv rc alu ss">
    <div class="qw">
        <h5 class="ald">Sponsored</h5>
        <div data-grid="images" data-target-height="150">
            <img class="qh" data-width="1920" data-height="1080" data-action="zoom" src="images/intro.jpg">
        </div>
        <p><strong>Searching for a full-stack developer job?</strong> CodeShare is hiring iOS and Android developers. If your interested apply now!</p>
        <button class="cg ts fx">Apply</button>
    </div>
</div>
<!-- ========================================= END SPONSORED ================================================== -->