<!-- ========================================= WHO TO FOLLOW ================================================== -->
<div class="qv rc alu ss">
    <div class="qw">
        <h5 class="ald">Who to follow <small>· <a href="#">View All</a></small></h5>
        <ul class="qo anx">
            <li class="qf alm">
                <a class="qj" href="#">
                    <img class="qh cu"
                         src="images/alex.jpg">
                </a>
                <div class="qg">
                    <strong>Alex</strong> xBlade45
                    <div class="aoa">
                        <button class="cg ts fx">
                            <span class="h vc"></span> Follow
                        </button>
                    </div>
                </div>
            </li>
            <li class="qf">
                <a class="qj" href="#">
                    <img class="qh cu"
                         src="images/kptcheez.jpg">
                </a>
                <div class="qg">
                    <strong>Vincent</strong> KptCheeseWhiz
                    <div class="aoa">
                        <button class="cg ts fx">
                            <span class="h vc"></span> Follow
                        </button></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="qz">
        Add people you know
    </div>
</div>
<!-- ========================================= END WHO TO FOLLOW ================================================== -->