
@{
    ViewBag.Title = "Profile";
    var connUser = ViewBag.connUser;
}
@Html.Partial( "~/Views/Shared/CoreLayout_Top_profile.cshtml" )




<a href="/Profile/Edit">Edit profile</a>

@Html.Partial("~/Views/Feed/FeedPartial.cshtml");


@Html.Partial( "~/Views/Shared/CoreLayout_Bottom.cshtml" )


